<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.Test2Mapper">
    <insert id="addTest2" parameterType="com.example.demo.pojo.Test2">
         insert into `test2`(`id`,`varchar`) values(#{id},#{varchar})
    </insert>

    <delete id="deleteTest2ById">
         delete from `test2` where id=#{id}
    </delete>

    <update id="updateTest2" parameterType="com.example.demo.pojo.Test2">
        update `test2`
        <set>
            <if test="varchar!=null">
               `varchar`=#{varchar},
            </if>
        </set>
        where id=#{id}
    </update>


    <select id="getTest2ById" resultType="com.example.demo.pojo.Test2" >
        select * from `test2` where `id`=#{id}
    </select>


    <sql id="exampleClause">
        <foreach collection="leftJoinList" item="joinInfo">
            left join ${joinInfo.rightTable} on ${joinInfo.leftTable}.${joinInfo.leftKey}=${joinInfo.rightTable}.${joinInfo.rightKey}
        </foreach>
        <where>
            <foreach collection="orCriterionList" item="criterionList" separator="or">
                <trim prefix="(" prefixOverrides="and" suffix=")">
                    <foreach collection="criterionList" item="criterion">
                        and ${criterion.table}.${criterion.field}
                        <choose>
                            <when test="criterion.valueType=='noValue'">
                                ${criterion.condition}
                            </when>
                            <when test="criterion.valueType=='singleValue'">
                                ${criterion.condition} #{criterion.value}
                            </when>
                            <when test="criterion.valueType=='betweenValue'">
                                ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                            </when>
                            <when test="criterion.valueType=='listValue'">
                                ${criterion.condition}
                                <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                    #{listItem}
                                </foreach>
                            </when>
                        </choose>
                    </foreach>
                </trim>
            </foreach>
        </where>
        <if test="orderBy!=null">
            order by ${orderBy.table}.${orderBy.field} ${orderBy.condition}
        </if>
        <if test="limitStart!=null">
            limit #{limitStart}
            <if test="limitNum!=null">
                ,#{limitNum}
            </if>
        </if>
    </sql>

    <select id="getTest2ListByExample" parameterType="Example"  resultType="com.example.demo.pojo.Test2" >
        select * from `test2`
        <include refid="exampleClause"></include>
    </select>

</mapper>
