<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <insert id="addUser" useGeneratedKey="true" keyProperty="id" parameterType="com.example.demo.pojo.User">
         insert into `user`(`account`,`password`,`role`) values(#{account},#{password},#{role})
    </insert>

    <delete id="deleteUserById">
         delete from `user` where id=#{id}
    </delete>

    <update id="updateUser" parameterType="com.example.demo.pojo.User">
        update `user`
        <set>
            <if test="account!=null">
               `account`=#{account},
            </if>
            <if test="password!=null">
               `password`=#{password},
            </if>
            <if test="role!=null">
               `role`=#{role},
            </if>
        </set>
        where id=#{id}
    </update>

    <resultMap id="baseMap" type="com.example.demo.entity.UserEntity">
        <id property="id" column="id"/>
        <collection fetchType="lazy" property="websiteList" column="id" select="com.example.demo.mapper.WebsiteMapper.getWebsiteListByUserId"/>
    </resultMap>

    <select id="getUserById" resultMap="baseMap" >
        select * from `user` where `id`=#{id}
    </select>


    <sql id="exampleClause">
        <foreach collection="leftJoinList" item="joinInfo">
            left join ${joinInfo.rightTable} on ${joinInfo.leftTable}.${joinInfo.leftKey}=${joinInfo.rightTable}.${joinInfo.rightKey}
        </foreach>
        <where>
            <foreach collection="orCriterionList" item="criterionList" separator="or">
                <trim prefix="(" prefixOverrides="and" suffix=")">
                    <foreach collection="criterionList" item="criterion">
                        and ${criterion.table}.${criterion.field}
                        <choose>
                            <when test="criterion.valueType=='noValue'">
                                ${criterion.condition}
                            </when>
                            <when test="criterion.valueType=='singleValue'">
                                ${criterion.condition} #{criterion.value}
                            </when>
                            <when test="criterion.valueType=='betweenValue'">
                                ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                            </when>
                            <when test="criterion.valueType=='listValue'">
                                ${criterion.condition}
                                <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                    #{listItem}
                                </foreach>
                            </when>
                        </choose>
                    </foreach>
                </trim>
            </foreach>
        </where>
        <if test="orderBy!=null">
            order by ${orderBy.table}.${orderBy.field} ${orderBy.condition}
        </if>
        <if test="limitStart!=null">
            limit #{limitStart}
            <if test="limitNum!=null">
                ,#{limitNum}
            </if>
        </if>
    </sql>

    <select id="getUserListByExample" parameterType="io.github.lhcyh.lhmybatis.Example"  resultMap="baseMap" >
        select * from `user`
        <include refid="exampleClause"></include>
    </select>

</mapper>
