<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.WebsiteMapper">
    <insert id="addWebsite" useGeneratedKey="true" keyProperty="id" parameterType="com.example.demo.pojo.Website">
         insert into `website`(`url`,`status`,`is_public`,`is_sensitive`,`name`,`note`,`type_id`,`user_id`) values(#{url},#{status},#{isPublic},#{isSensitive},#{name},#{note},#{typeId},#{userId})
    </insert>

    <delete id="deleteWebsiteById">
         delete from `website` where id=#{id}
    </delete>

    <update id="updateWebsite" parameterType="com.example.demo.pojo.Website">
        update `website`
        <set>
            <if test="url!=null">
               `url`=#{url},
            </if>
            <if test="status!=null">
               `status`=#{status},
            </if>
            <if test="isPublic!=null">
               `is_public`=#{isPublic},
            </if>
            <if test="isSensitive!=null">
               `is_sensitive`=#{isSensitive},
            </if>
            <if test="name!=null">
               `name`=#{name},
            </if>
            <if test="note!=null">
               `note`=#{note},
            </if>
            <if test="typeId!=null">
               `type_id`=#{typeId},
            </if>
            <if test="userId!=null">
               `user_id`=#{userId},
            </if>
        </set>
        where id=#{id}
    </update>


    <select id="getWebsiteById" resultType="com.example.demo.pojo.Website" >
        select * from `website` where `id`=#{id}
    </select>

    <select id="getWebsiteListByUserId"  resultType="com.example.demo.pojo.Website" >
        select * from `website` where user_id=#{userId}
    </select>

    <sql id="exampleClause">
        <foreach collection="leftJoinList" item="joinInfo">
            left join ${joinInfo.rightTable} on ${joinInfo.leftTable}.${joinInfo.leftKey}=${joinInfo.rightTable}.${joinInfo.rightKey}
        </foreach>
        <where>
            <foreach collection="orCriterionList" item="criterionList" separator="or">
                <trim prefix="(" prefixOverrides="and" suffix=")">
                    <foreach collection="criterionList" item="criterion">
                        and ${criterion.table}.${criterion.field}
                        <choose>
                            <when test="criterion.valueType=='noValue'">
                                ${criterion.condition}
                            </when>
                            <when test="criterion.valueType=='singleValue'">
                                ${criterion.condition} #{criterion.value}
                            </when>
                            <when test="criterion.valueType=='betweenValue'">
                                ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                            </when>
                            <when test="criterion.valueType=='listValue'">
                                ${criterion.condition}
                                <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                    #{listItem}
                                </foreach>
                            </when>
                        </choose>
                    </foreach>
                </trim>
            </foreach>
        </where>
        <if test="orderBy!=null">
            order by ${orderBy.table}.${orderBy.field} ${orderBy.condition}
        </if>
        <if test="limitStart!=null">
            limit #{limitStart}
            <if test="limitNum!=null">
                ,#{limitNum}
            </if>
        </if>
    </sql>

    <select id="getWebsiteListByExample" parameterType="io.github.lhcyh.lhmybatis.Example"  resultType="com.example.demo.pojo.Website" >
        select * from `website`
        <include refid="exampleClause"></include>
    </select>

</mapper>
